body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #78bf65, #a0ff87);
}

.container-fluid {
    padding: 0;
}

h1, h1, h3, h4, h5, h6 {
    color: #284022;
    font-family: 'Noto Serif';
}

.dollar-img {
    width: 80%;
}

.dollar-form {
    background-color: #A0FF87;
    position: relative; 
}

.dollar-form:before, .dollar-form:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.dollar-form:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}